[submodule "jalebi"]
	path = jalebi
	url = git@github.com:masroof-maindak/jalebi.git
[submodule "xv6-riscv"]
	path = xv6-riscv
	url = git@github.com:masroof-maindak/xv6-riscv.git
[submodule "ghonsla"]
	path = ghonsla
	url = git@github.com:masroof-maindak/ghonsla.git
